body {
    font-family: Courier New, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.text-center-custom {
    text-align: center;
}
.container-fluid {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 0;
}
.sidebar {
    min-height: 100vh;
    width: 230px; /* Adjust this value to change the width of the sidebar */
    position: sticky;
    top: 56px; /* Assuming header height is 56px */
    background-color: #343a40;
    flex-shrink: 0;
    overflow-y: auto;
}
.content {
    flex: 1;
    padding: 20px;
    margin-left: 250px; /* Adjust this value based on sidebar width */
}
header {
    height: 76px; /* Set this to the height of your header */
    background-color: #343a40; /* Set this to match your header style */
    color: white; /* Set this to match your header style */
    padding: 10px; /* Adjust padding as needed */
}
.selected {
    background-color: #FFA500 !important; /* Color anaranjado para resaltar más */
    color: #000; /* Cambiar el color del texto si es necesario */
}